<app-navbar></app-navbar>
<div class="navdiv">
  <a routerLink="/clerk"><span class="nav-text">सेवा पुस्तिका यादी</span></a>
  <a routerLink="/create-employee"><span class="nav-text">कर्मचारी तयार करा</span></a>
  <a routerLink="/create-sevapushtika"><span class="nav-text">सेवा पुस्तिका तयार करा</span></a>
  <a routerLink="/upload-sevapushtika"><span class="nav-text">अपलोड सेवा पुस्तिका</span></a>
  <span id="emp">Hello, Clerk</span>
  <a href="#" id="logout" class="nav-text" onclick="logout()">Logout</a>
</div>

<div class="container">
  <div class="title">अपलोड सेवा पुस्तिका</div>
  <div class="form-group">
    <label for="year">FY वर्ष</label>
    <div class="input-wrapper">
      <input type="number" id="year" [(ngModel)]="year" placeholder="वर्ष" />
      <i class="fas fa-calendar-alt"></i>
    </div>
    <label for="date">दिनांक</label>
    <div class="input-wrapper">
      <input type="date" id="date" [(ngModel)]="date" placeholder="DD/MM/YYYY" />
    </div>
  </div>
  <div class="form-group">
    <label for="fullname">कर्मचारी</label>
    <div class="input-wrapper">
      <select id="fullname" [(ngModel)]="selectedEmployee">
        <option value="">निवडा</option>
        <option *ngFor="let name of fullname" [value]="name">{{ name }}</option>
      </select>
    </div>
    <label for="photo">फोटो/फाइल</label>
    <div class="input-wrapper">
      <input type="file" id="photo" (change)="onFileChange($event)" />
      <i class="fas fa-upload"></i>
    </div>
  </div>
  <button class="upload-btn" (click)="uploadSevaPushtika()">अपलोड</button>
</div>

<table>
  <thead>
    <tr>
      <th>अनु.क्र.</th>
      <th>FY वर्ष</th>
      <th>दिनांक</th>
      <th>कर्मचारी</th>
      <th>फोटो/फाइल</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of uploadedData; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.year }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.fullname }}</td>
      <td><a (click)="viewPhoto(data.id)" class="link">see</a></td>
      <td class="action-buttons">
        <button class="delete"><i class="fa-solid fa-trash-can"></i></button>
        <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
      </td>
    </tr>
  </tbody>
</table>
