<app-navbar></app-navbar>
<div class="navdiv">
  <a routerLink="/clerk"><span class="nav-text">सेवा पुस्तिका यादी</span></a>
  <a routerLink="/create-employee"><span class="nav-text">कर्मचारी तयार करा</span></a>
  <a routerLink="/create-sevapushtika"><span class="nav-text">सेवा पुस्तिका तयार करा</span></a>
  <a routerLink="/upload-sevapushtika"><span class="nav-text">अपलोड सेवा पुस्तिका</span></a>
  <span id="emp">Hello, Clerk</span>
  <a href="#" id="logout" class="nav-text" onclick="logout()">Logout</a>
</div>

<div class="container">
  <div class="header">
    <h1>सेवा पुस्तिका तयार करा</h1>
    <div class="icon-container">
      <button class="print"><i class="fa-solid fa-print"></i></button>
      <button class="excel"><i class="fa-solid fa-file-excel"></i></button>
      <button class="pdf"><i class="fa-solid fa-file-pdf"></i></button>
    </div>
  </div>
  <div class="underline"></div>
  <label for="fullname">कर्मचारी:</label>
  <select id="fullname" (change)="onNameSelected($event)" name="fullname">
    <option value="" disabled selected>निवडा</option>
    <option *ngFor="let name of fullNames" [value]="name">{{ name }}</option>
  </select>

  <form (ngSubmit)="onSubmit()">
    <div class="section">
      <label for="fullname">१. पूर्ण नाव:</label>
      <input
        type="text"
        id="fullname"
        [(ngModel)]="sevaPushtika.fullname"
        name="fullname"
        required
      />
    </div>

    <div class="section">
      <label for="empuniqueid">२. कर्मचारी अद्वितीय आयडी:</label>
      <input
        type="text"
        id="empuniqueid"
        [(ngModel)]="sevaPushtika.empuniqueid"
        name="empuniqueid"
        required
      />
    </div>

    <div class="section">
      <label for="appoint">३. नियुक्तीची माहिती:</label>
      <input
        type="text"
        id="appoint"
        [(ngModel)]="sevaPushtika.appoint"
        name="appoint"
        required
      />
    </div>

    <div class="section">
      <label for="office">४. कार्यालयाचे नाव:</label>
      <input
        type="text"
        id="office"
        [(ngModel)]="sevaPushtika.office"
        name="office"
        required
      />
    </div>
  
    <div class="section">
      <label for="castreligion">१. धर्म , जात (प्रवर्गासह) :</label>
      <input type="text" id="castreligion" [(ngModel)]="sevaPushtika.castreligion" name="castreligion" required />
    </div>
    <div class="section">
      <label for="currentaddress">२ . (अ) सध्याचा पत्ता -</label>
      <input type="text" id="currentaddress" [(ngModel)]="sevaPushtika.currentaddress" name="currentaddress" />
    </div>
    <div class="section">
      <label for="declaredvillageadd">( ब ) घोषित केलेला स्वग्राम व पत्ता -</label>
      <input type="text" id="declaredvillageadd" [(ngModel)]="sevaPushtika.declaredvillageadd" name="declaredvillageadd" />
    </div>
    <div class="section">
      <label for="nameresidofvictim">३. बळींचे नाव व राहण्याचे ठिकाण :</label>
      <input type="text" id="nameresidofvictim" [(ngModel)]="sevaPushtika.nameresidofvictim" name="nameresidofvictim" />
    </div>
    <div class="section">
      <label for="writedobcorrect">४. जन्मतारखेनक नक्की करून तो खोटी सन्मानाने लिहिता येईल तेव्हा अचूक लिहावा</label>
      <input type="text" id="writedobcorrect" [(ngModel)]="sevaPushtika.writedobcorrect" name="writedobcorrect" />
    </div>
    <div class="section">
      <label for="exactheight">५. तंतोतंत उंची -</label>
      <input type="text" id="exactheight" [(ngModel)]="sevaPushtika.exactheight" name="exactheight" />
    </div>
    <div class="section">
      <label for="identifiedmarkonbody">६. ओळखपत्रासाठी अंगठ्याचे खुणा -</label>
      <input type="text" id="identifiedmarkonbody" [(ngModel)]="sevaPushtika.identifiedmarkonbody" name="identifiedmarkonbody" />
    </div>
    <div class="section">
      <label for="eduatappoint">७. (अ) नियुक्तीच्या वेळी शैक्षणिक अहर्ता -</label>
      <input type="text" id="eduatappoint" [(ngModel)]="sevaPushtika.eduatappoint" name="eduatappoint" />
    </div>
    <div class="section">
      <label for="eduafterappoint">( ब ) नियुक्तीनंतर प्राप्त केलेली शैक्षणिक अहर्ता -</label>
      <input type="text" id="eduafterappoint" [(ngModel)]="sevaPushtika.eduafterappoint" name="eduafterappoint" />
    </div>
    <div class="section">
      <label for="govsigndate">८. शासकीय कर्मचाऱ्यांची दिनांकित सही -</label>
      <input type="text" id="govsigndate" [(ngModel)]="sevaPushtika.govsigndate" name="govsigndate" />
    </div>
    <div class="section">
      <label for="datesignnddesign">९. क्रमांक १ ते २ सहीची नोंदी तपासल्यानंतर कार्यालय प्रमुखाची अथवा इतर कोणत्याही साक्षांकित अधिकाऱ्यांची दिनांकित सही व पदनाम</label>
      <input type="text" id="datesignnddesign" [(ngModel)]="sevaPushtika.datesignnddesign" name="datesignnddesign" />
    </div>
    <div class="section">
      <label for="certnodate">( एक ) प्रमाणपत्र क्रमांक व दिनांक -</label>
      <input type="text" id="certnodate" [(ngModel)]="sevaPushtika.certnodate" name="certnodate" />
    </div>
    <div class="section">
      <label for="officerdesign">( दोन ) प्रमाणपत्र देणारा अधिकारी व त्याचे पदनाम -</label>
      <input type="text" id="officerdesign" [(ngModel)]="sevaPushtika.officerdesign" name="officerdesign" />
    </div>
    <div class="form-group button-center">
      <button type="submit">सेव</button>
    </div>
  </form>
</div>
