<app-navbar></app-navbar>
<div class="navdiv">
    <a href="#"><span class="nav-text">कार्यालये</span></a>
    <a href="#"><span class="nav-text">सेवा पुस्तिका</span></a>
    <span id="emp">Hello, CEO</span>
    <a href="#" id="logout" class="nav-text" onclick="logout()">Logout</a>
</div>
<body>
    <div class="container">
        <div class="form-container"><h2>कार्यालये</h2></div>
        <div class="form-group">
            <div>
                <label for="fy-year">FY वर्ष</label><br>
                <input type="number" id="fy-year" placeholder="वर्ष">
            </div>
            <div>
                <label for="district">जिल्हा</label><br>
                <select id="district">
                    <option>निवडा</option>
                </select>
            </div>
            <div>
                <label for="taluka">तालुका</label><br>
                <select id="taluka">
                    <option>निवडा</option>
                </select>
            </div>
            <div>
                <button>पहा</button>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</body>