    <!-- <router-outlet></router-outlet>  -->

    <!-- clerk Side :- -->
    <!-- <app-clerk></app-clerk> -->
    <!-- <app-entrybook></app-entrybook> -->
    <!-- <app-empentrybook></app-empentrybook> -->
    <!-- <app-clerkshowsevapushtika></app-clerkshowsevapushtika> -->
    <!-- <app-create-sevapushtika></app-create-sevapushtika> -->
     <app-create-employee></app-create-employee>










    <!-- <app-employee></app-employee> -->
    <!-- <app-hod></app-hod> -->
    <!-- <app-ceo></app-ceo> -->
    <!-- <app-footer></app-footer> -->
    <!-- <app-noteabtract></app-noteabtract> -->
    <!-- <app-empsevapushtika></app-empsevapushtika> -->