<app-navbar></app-navbar>
<div class="navdiv">
  <a href="clerk"><span class="nav-text">सेवा पुस्तिका यादी</span></a>
  <a href="create-employee"><span class="nav-text">कर्मचारी तयार करा</span></a>
  <a href="create-sevapushtika"><span class="nav-text">सेवा पुस्तिका तयार करा</span></a>
  <a href="upload-sevapushtika"><span class="nav-text">अपलोड सेवा पुस्तिका</span></a>
  <span id="emp">Hello, Clerk</span>
  <a href="#" id="logout" class="nav-text" onclick="logout()">Logout</a>
</div>

<div class="container">
  <h2>कर्मचारी तयार करा</h2>
  <div class="underline"></div>

  <form #form="ngForm" (ngSubmit)="onSubmit()" class="form-grid">
    <div>
      <label for="fullname">पूर्ण नाव</label>
      <input type="text" id="fullname" [(ngModel)]="employee.fullname" name="fullname" required>
    </div>
    <div>
      <label for="appoint">पद</label>
      <input type="text" id="appoint" [(ngModel)]="employee.appoint" name="appoint">
    </div>
    <div>
      <label for="remainingleaves">उर्वरित रजा</label>
      <input type="number" id="remainingleaves" [(ngModel)]="employee.remainingleaves" name="remainingleaves">
    </div>
    <div>
      <label for="empuniqueid">सेवार्थ आयडी</label>
      <input type="text" id="empuniqueid" [(ngModel)]="employee.empuniqueid" name="empuniqueid" required>
    </div>
    <div>
      <label for="mobileno">मोबाईल नंबर</label>
      <input 
        type="text" 
        id="mobileno" 
        [(ngModel)]="employee.mobileno" 
        name="mobileno" 
        required 
        pattern="^[0-9]{10}$" 
        title="Mobile number must be exactly 10 digits"
        #mobileno="ngModel">
      <div *ngIf="mobileno.invalid && mobileno.touched" class="error">
        Mobile number must be exactly 10 digits.
      </div>
    </div>
    <div>
      <label for="office">कार्यालय</label>
      <input type="text" id="office" [(ngModel)]="employee.office" name="office">
    </div>
    <button type="submit" class="submit-btn" [disabled]="form.invalid">Submit</button>
  </form>
  
</div>
<div class="container2">
  <table>
    <thead>
      <tr>
        <th>अनु.क्र.</th>
        <th>पूर्ण नाव</th>
        <th>सेवार्थ आयडी</th>
        <th>पद</th>
        <th>कार्यालय</th>
        <th>#उर्वरित रजा</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ emp.fullname }}</td>
        <td>{{ emp.empuniqueid }}</td>
        <td>{{ emp.appoint }}</td>
        <td>{{ emp.office }}</td>
        <td>{{ emp.remainingleaves }}</td>
        <td>
          <button class="delete" (click)="deleteEmployee(emp.fullname)"><i class="fa-solid fa-trash-can"></i></button>
          <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>