.navdiv {
    background-color: blueviolet;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

a {
    text-decoration: none;
}

.nav-text {
    color: white;
    padding: 0 15px;
    font-weight: bold;
    font-size: 0.85rem;
}

#emp {
    margin-left: auto;
    font-weight: bold;
    color: white;
}

.heading h2 {
    color: blueviolet;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.leave-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.date-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-label {
    min-width: 80px;
}

.date-input {
    flex: 1;
}

label {
    font-weight: bold;
    color: #333;
}

input,
select {
    width: calc(100% - 100px); /* Adjusts to make space for the label */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.button-center {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}