<app-navbar></app-navbar>
<div class="navdiv">
    <a href="clerk"><span class="nav-text">सेवा पुस्तिका यादी</span></a>
    <a href="create-employee"><span class="nav-text">कर्मचारी तयार करा</span></a>
    <a href="create-sevapushtika"><span class="nav-text">सेवा पुस्तिका तयार करा</span></a>
    <a href="upload-sevapushtika"><span class="nav-text">अपलोड सेवा पुस्तिका</span></a>
    <span id="emp">Hello, Clerk</span>
    <a href="#" id="logout" class="nav-text" onclick="logout()">Logout</a>
</div>
<span class="container">
    <h2>सेवा पुस्तिका यादी</h2>
</span>


<form class="leave-form">
    <div class="form-group date-group">
        <label for="fromDate" class="date-label">वर्ष:</label>
        <input type="number" id="fromDate" name="fromDate" placeholder="वर्ष">
    </div>

    <div class="form-group date-group">
        <label for="fromDate" class="date-label">कधीपासून:</label>
        <input type="date" id="fromDate" name="fromDate" placeholder="दिनांक">
        <label for="toDate" class="date-label">कधीपर्यंत:</label>
        <input type="date" id="toDate" name="toDate" placeholder="दिनांक">
    </div>

    <div class="form-group button-center ">
        <button type="submit">पाहा</button>
    </div>
   <br>
</form>

<div class="table-container">
    <div class="icon-container">
        <button class="print"><i class="fa-solid fa-print"></i></button>
        <button class="excel"><i class="fa-solid fa-file-excel"></i></button>
        <button class="pdf"><i class="fa-solid fa-file-pdf"></i></button>
    </div>

    <table>
        <thead>
            <tr>
                <th>अनु.क्र. <i class="fas fa-sort"></i></th>
                <th>कर्मचारी <i class="fas fa-sort"></i></th>
                <th>#नोंद<i class="fas fa-sort"></i></th>
                <th>Action <i class="fas fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>अजय मिश्रा</td>
                <td><a href="#">10</a></td>
                <td>
                    <button class="btn btn-green">पुष्टिकरण पढ़ा</button>
                    <button class="btn btn-blue" routerLink="entrybook">नोंद +</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>खालिद मोहम्मद</td>
                <td><a href="#">35</a></td>
                <td>
                    <button class="btn btn-green">पुष्टिकरण पढ़ा</button>
                    <button class="btn btn-blue">नोंद+</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>मनीष गोखले</td>
                <td><a href="#">27</a></td>
                <td>
                    <button class="btn btn-green">पुष्टिकरण पढ़ा</button>
                    <button class="btn btn-blue">नोंद +</button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>शेखर खान</td>
                <td><a href="#">40</a></td>
                <td>
                    <button class="btn btn-green">पुष्टिकरण पढ़ा</button>
                    <button class="btn btn-blue">नोंद +</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
