<app-navbar></app-navbar>
<div class="navdiv">
    <a href="#"><span class="nav-text">सेवा पुस्तिका यादी</span></a>
    <a href="#"><span class="nav-text">कर्मचारी तयार करा</span></a>
    <a href="#"><span class="nav-text">सेवा पुस्तिका तयार करा</span></a>
    <a href="#"><span class="nav-text">अपलोड सेवा पुस्तिका</span></a>
    <span id="emp">Hello, Clerk</span>
</div>
<span class="heading">
    <h2>सेवा पुस्तिका यादी</h2>
</span>


<form class="leave-form">
    <div class="form-group date-group">
        <label for="fromDate" class="date-label">वर्ष:</label>
        <input type="date" id="fromDate" name="fromDate">
    </div>

    <div class="form-group date-group">
        <label for="fromDate" class="date-label">कधीपासून:</label>
        <input type="date" id="fromDate" name="fromDate">
        <label for="toDate" class="date-label">कधीपर्यंत:</label>
        <input type="date" id="toDate" name="toDate">
    </div>

    <div class="form-group button-center">
        <button type="submit">पाहा</button>
    </div>
</form>

