<app-navbar></app-navbar>
<div class="navdiv">
    <a href="#"><span class="nav-text">सेवा पुस्तिका यादी</span></a>
    <a href="#"><span class="nav-text">कर्मचारी तयार करा</span></a>
    <a href="#"><span class="nav-text">सेवा पुस्तिका तयार करा</span></a>
    <a href="#"><span class="nav-text">अपलोड सेवा पुस्तिका</span></a>
    <span id="emp">Hello, Clerk</span>
    <!-- Logout link added -->
    <a href="#" id="logout" class="nav-text" onclick="logout()">Logout</a>
</div>

<body>
    <div class="container">
        <h2>नोंद</h2>
        <form>
            <div class="form-group">
                <label for="type">नोंदीचा प्रकार</label>
                <select id="type">
                    <option></option>
                    <option>वार्षिक वेतनवाढ</option>
                </select>
            </div>
            <div class="form-group date-group">
                <label for="date">दिनांक</label>
                <input type="date" id="date">
            </div>
            <div class="form-group">
                <label for="position">नियुक्ती पदनाम व वेतनश्रेणी</label>
                <input type="text" id="position" >
            </div>
            <div class="form-group">
                <label for="status">नियुक्ती स्थिती</label>
                <input type="text" id="status" >
            </div>
            <div class="form-group">
                <label for="rank">रिक्त पदाचे स्वरूप</label>
                <input type="text" id="rank" >
            </div>
            <div class="form-group">
                <label for="salary">कायम नियुक्तीमधील वेतन</label>
                <input type="text" id="salary" >
            </div>
            <div class="form-group">
                <label for="promotion-salary">स्थानांतर नियुक्तीबाबत जादा वेतन</label>
                <input type="text" id="promotion-salary" >
            </div>
            <div class="form-group">
                <label for="other-allowance">इतर भत्तेव</label>
                <input type="text" id="other-allowance">
            </div>
            <div class="form-group date-group">
                <label for="appointment-date">नियुक्ती दिनांक</label>
                <input type="date" id="appointment-date" >
                
            </div>
            <div class="form-group date-group">
                <label for="completion-date">नियुक्तीची मुदत संपण्याचा दिनांक</label>
                <input type="date" id="completion-date">
              
            </div>
            <div class="form-group">
                <label for="reason">नियुक्तीची संपन्नतेचे कारण</label>
                <input type="text" id="reason" >
            </div>
            <div class="form-group">
                <label for="remarks">घेतलेल्या रजेचे स्वरूप, कालावधी ई.</label>
                <input type="text" id="remarks">
            </div>
            <div class="form-group full-width">
                <label for="additional-info">झालेली शिक्षा / ठेवलेले ठप्पा / मिळालेले बक्षीस / प्रशासकीय कामगिरी / रजा प्रवास सवलत ई.</label>
                <input type="text" id="additional-info">
            </div>
            <div class="form-group full-width">
                <button type="submit">नोंद करा</button>
            </div>
        </form>
    </div>
</body>
