<app-navbar></app-navbar>
<div class="navdiv">
    <a href="clerk"><span class="nav-text">सेवा पुस्तिका यादी</span></a>
    <a href="create-employee"><span class="nav-text">कर्मचारी तयार करा</span></a>
    <a href="create-sevapushtika"><span class="nav-text">सेवा पुस्तिका तयार करा</span></a>
    <a href="upload-sevapushtika"><span class="nav-text">अपलोड सेवा पुस्तिका</span></a>
    <span id="emp">Hello, Clerk</span>
    <!-- Logout link added -->
    <a href="#" id="logout" class="nav-text" (click)="logout()">Logout</a>
</div>
<body>
    <div class="container">
        <h2>नोंद</h2>
        <label for="fullname">कर्मचारी:</label>
        <select id="fullname" (change)="onNameSelected($event)" name="fullname">
            <option value="" disabled selected>निवडा</option>
            <option *ngFor="let admin of fullNames" [value]="admin">{{ admin }}</option>
          </select>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="fullname">१. पूर्ण नाव:</label>
                <input
                  type="text"
                  id="fullname"
                  [(ngModel)]="entryBook.fullname"
                  name="fullname"
                  required
                />
              </div>
            <div class="form-group">
                <label for="entrytype">नोंदीचा प्रकार</label>
                <select id="entrytype" [(ngModel)]="entryBook.entrytype" name="entrytype" required>
                    <option></option>
                    <option>वार्षिक वेतनवाढ</option>
                </select>
            </div>
            <div class="form-group date-group">
                <label for="date">दिनांक</label>
                <input type="date" id="date" [(ngModel)]="entryBook.date" name="date" required>
            </div>
            <div class="form-group">
                <label for="appointandsalary">नियुक्ती पदनाम व वेतनश्रेणी</label>
                <input type="text" id="appointandsalary" [(ngModel)]="entryBook.appointandsalary" name="appointandsalary" required>
            </div>
            <div class="form-group">
                <label for="positionofappoint">नियुक्ती स्थिती</label>
                <input type="text" id="positionofappoint" [(ngModel)]="entryBook.positionofappoint" name="positionofappoint" required>
            </div>
            <div class="form-group">
                <label for="natureofvacancy">रिक्त पदाचे स्वरूप</label>
                <input type="text" id="natureofvacancy" [(ngModel)]="entryBook.natureofvacancy" name="natureofvacancy" required>
            </div>
            <div class="form-group">
                <label for="salaryinperappoint">कायम नियुक्तीमधील वेतन</label>
                <input type="text" id="salaryinperappoint" [(ngModel)]="entryBook.salaryinperappoint" name="salaryinperappoint" required>
            </div>
            <div class="form-group">
                <label for="addpayontransferappoint">स्थानांतर नियुक्तीबाबत जादा वेतन</label>
                <input type="text" id="addpayontransferappoint" [(ngModel)]="entryBook.addpayontransferappoint" name="addpayontransferappoint" required>
            </div>
            <div class="form-group">
                <label for="otherallowances">इतर भत्तेव</label>
                <input type="text" id="otherallowances" [(ngModel)]="entryBook.otherallowances" name="otherallowances">
            </div>
            <div class="form-group date-group">
                <label for="dateofappoint">नियुक्ती दिनांक</label>
                <input type="date" id="dateofappoint" [(ngModel)]="entryBook.dateofappoint" name="dateofappoint">
            </div>
            <div class="form-group date-group">
                <label for="dateofexpireappoint">नियुक्तीची मुदत संपण्याचा दिनांक</label>
                <input type="date" id="dateofexpireappoint" [(ngModel)]="entryBook.dateofexpireappoint" name="dateofexpireappoint">
            </div>
            <div class="form-group">
                <label for="affordreasonforappoint">नियुक्तीची संपन्नतेचे कारण</label>
                <input type="text" id="affordreasonforappoint" [(ngModel)]="entryBook.affordreasonforappoint" name="affordreasonforappoint">
            </div>
            <div class="form-group">
                <label for="natureofleaveduration">घेतलेल्या रजेचे स्वरूप, कालावधी ई.</label>
                <input type="text" id="natureofleaveduration" [(ngModel)]="entryBook.natureofleaveduration" name="natureofleaveduration">
            </div>
            <div class="form-group full-width">
                <label for="punishmentetc">झालेली शिक्षा / ठेवलेले ठप्पा / मिळालेले बक्षीस / प्रशासकीय कामगिरी / रजा प्रवास सवलत ई.</label>
                <input type="text" id="punishmentetc" [(ngModel)]="entryBook.punishmentetc" name="punishmentetc">
            </div>
            <div class="form-group full-width">
                <button type="submit">नोंद करा</button>
            </div>
        </form>
    </div>
</body>