<app-navbar></app-navbar>
<div class="navdiv">
  <a routerLink="clerk"><span class="nav-text">सेवा पुस्तिका यादी</span></a>
  <a routerLink="create-employee"><span class="nav-text">कर्मचारी तयार करा</span></a>
  <a routerLink="create-sevapushtika"><span class="nav-text">सेवा पुस्तिका तयार करा</span></a>
  <a routerLink="upload-sevapushtika"><span class="nav-text">अपलोड सेवा पुस्तिका</span></a>
  <span id="emp">Hello, Clerk</span>
  <a href="#" id="logout" class="nav-text" onclick="logout()">Logout</a>
</div>

<body>
  
    <div class="header">
      सेवा पुस्तिका (मनदीप गोनेवार)
      <div class="underline"></div>
    </div>
    <div class="sub-header">
      पृष्ठ क्र. - 2/30
    </div>
   
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>नियुक्ती पदनाम व <br>वेतनश्रेणी</th>
            <th>नियुक्ती कामावर आहे की<br> स्थानांतर नंतरची ही स्थायी <br>आहे की अस्थायी</th>
            <th>नियुक्ती स्थानापन <br>आदेश वर <br>(1) कायम नियुक्ती<br> आदेश <br>(2) ज्या पदावर <br>कायमस्वरुप नियुक्ती <br>देण्यात आली त्या मूळ<br> रिक्त पदाचे स्वरूप व<br> मंजूर दरारे</th>
            <th>कायम नियुक्तीमधील <br> वेतन (रुपये)</th>
            <th>स्थानांतर <br>नियुक्तीमधील जावक<br> वेतन (रुपये)</th>
            <th>‘वेळ’ या संवेद <br>समायोजित होणारे इतर<br> विवक्षितले (रुपये)</th>
            <th>नियुक्ती दिनांक</th>
            <th>शासकीय<br> कर्मचारीची सही</th>
            <th>स्लोथ 3 ते 4 ह्याच्या <br>कार्यकाळामध्ये <br>कार्यरत असलेल्या <br>प्रमुखांची सही व <br>पदनाम</th>
            <th>नियुक्ती दुसऱ्या <br>संचलनाचा दिनांक</th>
            <th>नियुक्ती संपल्याचे <br>कारण (उदाहरणार्थ: <br>सेवानिवृत्ती, पदत्याग, <br>बडतर्फी, मृत्यू इत्यादी)</th>
            <th>कार्यालय प्रमुखाची <br>अथवा इतर सक्षम <br>अधिकारीची सही<br> (10 व 11 बाबत)</th>
            <th>तत्कालीन प्रमुखाचे<br> पदनाम, कालावधी <br>आणि आदेश क्रमांक<br> व दिनांक</th>
            <th>झालेले शिक्षण/प्रशिक्षण <br>उपक्रम/प्रकल्पाचे <br>कालावधी/प्रशिक्षणाचे <br>कालावधी/रजा प्राप्त <br>झाल्याचे/शिक्षण आणि प्रशिक्षण <br>संपल्याचे आदेश क्रमांक व दिनांक</th>
            <th>कार्यालय प्रमुखाची <br>अथवा इतर सक्षम <br>अधिकारीची सही <br>(12 व 13 बाबत)</th>
          </tr>
        </thead>
        <thead>
          <tr>
           <th>1</th>
           <th>2</th>
           <th>3</th>
           <th>4</th>
           <th>5</th>
           <th>6</th>
           <th>7</th>
           <th>8</th>
           <th>9</th>
           <th>10</th>
           <th>11</th>
           <th>12</th>
           <th>13</th>
           <th>14</th>
           <th>15</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
